			ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 500px;
	height: 250px;
			}
			li {
				height: 685px;
				
				text-align: center;
				cursor: pointer;
			}
				li img {
					width: 100%;
				}
				li.roundabout-in-focus {
					cursor: default;
				}
			li span {
				display: block;
				padding-top: 6em;
			}

			#carbonads-container .carbonad {
				margin: 0 auto;
			}
